* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: rgba(41, 41, 41, 0.8);

}


h1, a, .section-heading, .portfolio-title {
    color: rgba(41, 41, 41, 0.8)
}


a, .section-heading, .footer-link {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.student-name-footer{
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}

.section-heading{
    margin-top: 30px;
    margin-bottom: 30px;

}

ul, a {
    text-decoration: none;
    list-style: none;
    padding: 0;

	
}

.main-header{
    margin-bottom: 50px;
}

.about-paragraph, .about-paragraph-1 .contact-info {
    color: rgba(41, 41, 41, 0.8);
    font-weight:100;
    font-family: 'Raleway', sans-serif;
}

.portfolio-title {
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    
}

.portfolio-description {
    font-size: 14px;
    color: rgba(41, 41, 41, 0.6);
    text-align: center;
    width: 85%;
    margin: 0 auto;

}

.main-header, .contact{
    max-width: 100%;
    margin: 0 auto;
    background-color:rgba(222, 222, 222, 0.2);
}

.main-header{
    display:flex;
    justify-content: center;
}

.contact-info{
    text-align: center;

}

.container{
    max-width: 100%;
    width: 0 auto;
    
}

li {
    background-color: white;
    margin-top: 5px;
    margin-bottom:5px;
}

.profile-pic{
    width: 230px;
    display:flex;
    justify-content: center;
    margin: 0 auto;
}

.about-paragraph, .about-paragraph-1{
    display:flex;
    justify-content: center;
    margin: 0 auto;
    width: 250px;
    text-align: center;
    margin-top: 20px;

}

.portfolio-image {
    max-width: 90%;
    display:flex;
    justify-content: center;
    margin: 0 auto;
}



.intro-card, .nav-bar a {
    text-align: center;
	display: block;
	padding: 10px 15px;
}

.contact{
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 1em 0;
    border-bottom: 1px solid rgba(41, 41, 41, 0.6);
}

footer{
    max-width: 320px;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    margin: 0, 16px;

}

.footer-list-links{
    display:none;
}


/* Media Queries*/

@media (min-width: 768px) {
  .main-header, .nav-bar, .intro-card{
    max-width: 1024px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    

  }
  .main-header{
    margin-bottom: 40px;
  }

  .container {

    width: 100%;
    margin: 0 auto;
    padding-inline: 1rem;

}

li{
   background-color: transparent;
}

.project-container{
    width:48%;
}
.portfolio-cards{
    display:flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
  
}

.about-paragraph{
    width: 60%;
}

.about-paragraph-1{
    width:60%;
    margin: 0 auto;
    text-align: left;
}

div.container{
    margin-bottom: 40px; ;
}

.card{
    display:flex;
    align-items: center;

}
.profile-pic{
    display:flex;
    order: 1;
}

footer{
    max-width: 100%;
   

}
.footer-list-links, a{
    display:flex;
    justify-content: flex-end;
    padding: 10px 15px;
    margin: 0, auto;
    
}

.student-name-footer{
    width: 100%;
    text-align: left;
    justify-content: flex-start;
    margin-left: 20px ;
    

}

.footer-link{
    display:none;
    
}

}

@media (min-width: 1024px) {

    .container {
        width: 70%;
        margin: 0 auto;
        
    }
    .main-header, .nav-bar {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
}